*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    
    width: 100vw;
    height: 100vh;
    padding: 50px;
    
}
.heading{
    font-size: 1rem;
    padding-block: 5px;
}
.secondpara{
    padding: 5px;
}
.thirdpara{
    padding: 5px;
}
.fouthpara{
    padding-top: 10px;
}
.fifthpara{
    margin-left: 45px;
}